.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;

  &.fade > * {
    opacity: 0;
    transition: opacity 1s;
  }
}
